@import "./utils/utils";
@import "./base/root";
@import "./base/resets";
@import "./base/positioning";

@import "./components/logotype";
@import "./components/buttons";
@import "./components/socialsIcons";

@import "./sections/header";
@import "./sections/hero";
@import "./sections/sectionTitles";
@import "./sections/features";
@import "./sections/whatWeDo";
@import "./sections/ourTeam";
@import "./sections/regularClients";
@import "./sections/footer";
@import "./sections/portfolio";

@import "./custom/navActiveLine";
@import "./custom/checkboxAgreement";
@import "./custom/functions";

@import "./sections/modalWindow";
@import "./sections/modalInput";