/* BUTTONS */
/* index.html BUTTONS */
.hero-btn-style {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    /* line-height: 30px;*/
    letter-spacing: 0.06em;
    color: var(--norm-accent-color);

    padding: 10px 32px;

    box-shadow: 0px 4px 4px var(--subsrc-box);
    border-radius: 4px;
    background-color: var(--spec-accent-color);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--hero-btn-hover);
    }
}
/* END index.html BUTTONS */

/* portfolio.html BUTTONS */
.filter-btn-style {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    /*line-height: 26px; */
    color: var(--titles-color);
    background: var(--spec-bg-color);
    border-radius: 4px;
    padding: 6px 22px;

    transition-property: background, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        background: var(--spec-accent-color);
        color: var(--norm-accent-color);
        box-shadow:
            0px 3px 1px var(--filter-border-two),
            0px 1px 2px var(--filter-border-one),
            0px 2px 2px var(--m-window-color-one);
    }
}
/* END portfolio.html BUTTONS */

.footer-subscr-btn {
    width: 200px;
    height: 50px;
    background: var(--spec-accent-color);
    box-shadow: 0px 4px 4px var(--subsrc-box);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    line-height: 1.9;
    text-align: center;
    align-items: center;
    color: var(--norm-accent-color);
    letter-spacing: 0.06em;
    cursor: pointer;
    padding: 10px 40px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--hero-btn-hover);
    }
}

/* MODAL WINDOW BTNs*/
.close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--norm-accent-color);
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    border: 1px solid var(--filter-border-two);
    border-radius: 50%;

    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    
    &:hover,
    &:focus {
        fill: var(--spec-accent-color);
        border: 1px solid var(--spec-accent-color);
    }
}

.close-button-black-cross {
    width: 11px;
    height: 11px;
}

.m-window-send-btn {
    display: block;
    margin: 0 auto;
    background: var(--spec-accent-color);
    box-shadow: 0px 4px 4px var(--subsrc-box);
    border-radius: 4px;
    color: var(--norm-accent-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding: 10px 55px;
    cursor: pointer;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--hero-btn-hover);
    }
}
/* END MODAL WINDOW BTNs */