/* buttons */
.btn {
    @include btn-text-style(1.88);
    color: var(--base-accent-color);
    @include custom-animation(background-color);
    background-color: var(--spec-accent-color);
    box-shadow: 0px 4px 4px var(--box-shadow-bottom);
    border-radius: 4px;

    padding: 10px 32px;

    &:hover,
    &:focus {
        background-color: var(--hover-accent-color);
    }
}
/* END HERO */