/* buttons */
.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    /* line-height: 30px;*/
    letter-spacing: 0.06em;
    color: var(--base-accent-color);

    padding: 10px 32px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--spec-accent-color);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--hover-accent-color);
    }
}


/* END HERO */