/* buttons */
.btn {
    @include custom-text-style(16px, 700, 0.06em, 1.88);
    color: var(--base-accent-color);

    @include custom-animation(background-color);
    background-color: var(--spec-accent-color);
    box-shadow: 0px 4px 4px var(--shadows-six);
    border-radius: 4px;

    &:hover,
    &:focus {
        background-color: var(--hover-accent-color);
    }
}

.hero-btn-style {
    padding: 10px 32px;
}

.footer-subscr-btn {
    // width: 200px;
    height: 50px;
    
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px 29px;
}
/* mod-window btns */
.close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--base-accent-color);
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    border: 1px solid var(--shadows-three);
    border-radius: 50%;
    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
    fill: var(--spec-accent-color);
    border: 1px solid var(--spec-accent-color);
}

.m-window-send-btn {
    display: block;
    margin: 0 auto;

    padding: 10px 55px;
}
/* END of mod-window btns */

/* mob-menu btns */
.open-mob-menu-btn {
    background: var(--base-accent-color);
    @include custom-animation(fill);
}

.open-mob-menu-btn:hover,
.open-mob-menu-btn:focus {
    fill: var(--spec-accent-color);
}

.mob-menu-close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--base-accent-color);
    top: 8px;
    right: 8px;
    @include custom-animation(fill);
}

.mob-menu-close-button:hover,
.mob-menu-close-button:focus {
    fill: var(--spec-accent-color);
}
/* END of mob-menu btns */
/* END of buttons */