/* LOGOTYPE */
.header-logo {
    padding: 25px 0;
    margin-right: 93px;
    align-items: center;
}

.logo {
    color: var(--logo-desktop-color);
    @include custom-text-style(24px, 700, 0.03, 1.17);
    font-family: var(--spec-font);

    @include custom-animation(color);

    @media screen and (min-width:1200px) {
        @include custom-text-style(26px, 700, 0.03, 1.19);
    }

    &:hover,
    &:focus {
        color: var(--spec-accent-color);
    }
}

.logo-accent {
    color: var(--spec-accent-color);
}

.logo-footer-accent {
    color: var(--base-accent-color);
}

.footer-logo {
    margin-bottom: 20px;
    text-align: center;

    @media screen and (min-width:1200px) {
        text-align: left;
    }
}
/* END LOGOTYPE */