.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @media screen and (min-width:480px) {
        width: 480px;
    }

    @media screen and (min-width:768px) {
        width: 768px;
    }

    @media screen and (min-width:1200px) {
        width: 1200px;
    }
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.section-item-four {
    margin-top: 30px;
    margin-left: 30px;

    @media screen and (min-width:768px) {
        flex-basis: calc((100% / 2) - 30px);
    }
    @media screen and (min-width:1200px) {
        flex-basis: calc((100% / 4) - 30px);
    }
}

.section-item-three {
    margin-top: 30px;
    margin-left: 30px;

    @media screen and (min-width:768px) {
        flex-basis: calc((100% / 2) - 30px);
    }

    @media screen and (min-width:1200px) {
        flex-basis: calc((100% / 3) - 30px);
        position: relative;
    }
}

.section-item-six {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% / 2) - 30px);

    @media screen and (min-width:768px) {
        flex-basis: calc((100% / 3) - 30px);
    }
    @media screen and (min-width:1200px) {
        flex-basis: calc((100% / 6) - 30px);
    }
}

@media screen and (min-width:768px) {
    .mobile-menu {
        display: none;
    }
}

@media screen and (min-width:320px) and (max-width:1199px) {
    .what-we-do {
        display: none;
    }
}

// FOOTER containers
.footer-flex {
    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    @media screen and (min-width:1200px) {
        flex-wrap: nowrap;
        justify-content: space-between;
    }   
}

.footer-logo-contacts {
    text-align: center;
    margin-bottom: 60px;

    @media screen and (min-width:1200px) {
        text-align: left;
        margin-bottom: 0;
    }
}

.tablet-flex {
    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    @media screen and (min-width:1200px) {
        justify-content: unset;
        width: unset;
    }
}

@media screen and (min-width:480px) and (max-width:767px) {
    .footer-social-wrap {
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.footer-social-wrap {
    @media screen and (min-width:1200px) {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 70px;
    }
}

.footer-subscr-wrap {
    @media screen and (min-width:480px) and (max-width:1199px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media screen and (min-width:1200px) {
        display: flex;
    }
}

.footer-subscr {
    @media screen and (min-width:480px) and (max-width:1199px) {
        width: 100%;
    }

    @media screen and (min-width:1200px) {
        margin-left: 93px;
    }
}

/* potf filters POSITIONING */
.section-filters {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;

    @media screen and (min-width:480px) {
        justify-content: center;
    }

    @media screen and (min-width:768px) {
        justify-content: center;
    }
}

.filters-btn {
    margin-bottom: 15px;

    &:not(:last-child) {
        margin-right: 8px;
    }
}
/* END potf filters POSITIONING */
