/* POSITIONING */
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-section {
    padding-bottom: 47px;
}

.header-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
}

.header-logo {
    padding: 25px 0;
    margin-right: 93px;
    align-items: center;
}

.nav-list,
.nav-contacts {
    display: flex;
}

.nav-contacts .header-contacts {
    display: flex;
    align-items: center;
}

.nav-link:not(:last-child) {
    margin-right: 50px;
}

.contact-item:not(:first-child)  {
    margin-left: 50px;
}

.section-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.section-item-four {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% / 4) - 30px);
}

.section-item-three {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% / 3) - 30px);
    position: relative;
}

.section-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.filters-btn:not(:last-child) {
    margin-right: 8px;
}
/* END POSITIONING */