/* POSITIONING */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    // breakpoints

    @media screen and (min-width: 480px) {
		width: 480px;
	}

    @media screen and (min-width:768px) {
        width: 768px;
    }

    @media screen and (min-width:1200px) {
        width: 1200px;
    }
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-section {
    padding-bottom: 47px;
}

.header-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
}

.header-logo {
    padding: 25px 0;
    margin-right: 93px;
    align-items: center;
}

.nav-list,
.nav-contacts {
    display: flex;
}

.nav-contacts .header-contacts {
    display: flex;
    align-items: center;
}

.nav-link:not(:last-child) {
    margin-right: 50px;
}

.contact-item:not(:first-child)  {
    margin-left: 50px;
}

// .section-item-four:not(:last-child) 
// margin-bottom: 30px; ламає верстку на 1200


.section-list {
    @media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		margin-top: -30px;
		margin-left: -30px;
	}
}

.section-item-four {
    margin-top: 30px;
    margin-left: 30px;

    &:not(:last-child) {
        @media screen and (min-width:480px) {
        	margin-bottom: 30px;
        }
    }

    @media screen and (min-width:768px) {
        flex-basis: calc((100% / 2) - 30px);
    }

    @media screen and (min-width:1200px) {
        flex-basis: calc((100% / 4) - 30px);
    }
}

.section-item-three:not(:last-child) {
	margin-bottom: 30px;
}

.section-item-three {
    margin-top: 30px;
    margin-left: 30px;
    position: relative;

    @media screen and (min-width:768px) {
        flex-basis: calc((100% / 2) - 30px);
    }

    @media screen and (min-width:1200px) {
        flex-basis: calc((100% / 3) - 30px);
    }
}

.section-filters {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width:768px) and (min-width:1200px) {
        justify-content: center;
        margin-bottom: 50px;
    }
}

.filters-btn:not(:last-child) {
    margin-right: 8px;
}

.filters-btn {
    margin-right: 8px;
    margin-bottom: 15px;

    @media screen and (min-width:768px) and (min-width:1200px) {
        margin-bottom: 50px;
    }
}
/* END POSITIONING */

.footer-flex {
    display: flex;

    @media screen and (min-width:480px) {
        flex-direction: column;
        align-items: center;
    }

    @media screen and (min-width:768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    @media screen and (min-width:1200px) {
        align-items: baseline;
    }
}

.footer-section:not(:last-child) {
    margin-bottom: 60px;
}

.footer-social-links {
    @media screen and (min-width:768px) and (min-width:1200px) {
        margin-left: 70px;
    }
}

.footer-subscr {
    @media screen and (min-width:1200px) {
        margin-left: 93px;
    }
}

.footer-subscr-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}