:root {
    --main-font: 'Roboto', sans-serif;
    --spec-font: 'Raleway', sans-serif;

    --logo-base-color: rgba(0, 0, 0, 1);
    --titles-color: rgba(33, 33, 33, 1);
    --m-window-input-row: rgba(33, 33, 33, 0.2);
    --footer-bg: rgba(47, 48, 58, 1);
    --section-text-overlay: rgba(47, 48, 58, 0.8);

    --text-color: rgba(117, 117, 117, 1);
    --text-color-transp: rgba(117, 117, 117, 0.5);

    --icon-main-fill: rgba(175, 177, 184, 1);

    --header-border: rgba(236, 236, 236, 1);
    --portf-box-border: rgba(238, 238, 238, 1);
    --spec-bg-color: rgba(245, 244, 250, 1);
    --norm-accent-color: rgba(255, 255, 255, 1);
    --footer-soc-bg: rgba(255, 255, 255, 0.1);
    --subsrc-box-border: rgba(255, 255, 255, 0.3);
    --footer-contact-text-color: rgba(255, 255, 255, 0.6);

    --hero-btn-hover: rgba(24, 140, 232, 1);
    --spec-accent-color: rgba(33, 150, 243, 1);
    --portf-box-bg: rgba(33, 150, 243, 0.9);
    
    --portf-box-border-one: rgba(0, 0, 0, 0.06);
    --filter-border-one: rgba(0, 0, 0, 0.08);
    --filter-border-two: rgba(0, 0, 0, 0.1);
    --m-window-color-one: rgba(0, 0, 0, 0.12);
    --m-window-color-two: rgba(0, 0, 0, 0.14);
    --subsrc-box: rgba(0, 0, 0, 0.15);
    --portf-box-border-two: rgba(0, 0, 0, 0.16);
    --m-window-color-three: rgba(0, 0, 0, 0.2);

    --hero-bg-overlay: rgba(47, 48, 58, 0.4);
}