/* TYPOGRAPHY */
.link:hover,
.link:focus {
    color: var(--spec-accent-color);    
}

.section-title {
    color: var(--titles-base-color);
    margin-bottom: 50px;
    text-align: center;
    @include custom-text-style(28px, 700, 0.03, 1.18);

    @media screen and (min-width:1200px) {
        @include custom-text-style(36px, 700, 0.03, 1.17);
    }
}

.features-suptitle {
    color: var(--titles-base-color);
    @include custom-text-style(14px, 700, 0.03, 1.14);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;

    @media screen and (min-width:768px) and (max-width:1200px) {
        text-align: left;
    }
}

.features-text {
    @include custom-text-style(14px, 400, 0.03, 1.7);
}

.what-we-do-text {
    color: var(--base-accent-color);
    @include custom-text-style(14px, 700, 0.03, 1.14);
    text-transform: uppercase;
    text-align: center;
}

.footer-address,
.footer-contacts {
    @include custom-text-style(14px, 400, 0.03, 1.7);

    @include custom-animation(color);
    text-align: center;

    @media screen and (min-width:1200px) {
        text-align: left;
    }
}

.footer-address {
    color: var(--base-accent-color);
}

.footer-contacts {
    color: var(--footer-contact-text-color);
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.slogan-for-social,
.subscr-title {
    color: var(--base-accent-color);
    @include custom-text-style(14px, 700, 0.03, 1.14);
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;

    @media screen and (min-width:1200px) {
        text-align: left;
    }
}
/* END of TYPOGRAPHY */