/* animation */
@mixin custom-animation($property) {
    transition-property: $property;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin btn-text-style($btn-lh) {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: $btn-lh;
}