@mixin custom-animation($property) {
    transition-property: $property;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin custom-text-style($btn-fs, $btn-fw, $btn-ls, $btn-lh) {
    font-size: $btn-fs;
    font-weight: $btn-fw;
    letter-spacing: $btn-ls;
    line-height: $btn-lh;
}