/* FEATURES */
.features-icon-wrp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--spec-bg-color);
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}

.features-icon {
    width: 70px;
    height: 70px;
}

.features-suptitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    /*line-height: 16px;*/
    text-transform: uppercase;
    color: var(--titles-color);

    margin-bottom: 10px;
}

.features-text {
    font-size: 14px;
    line-height: 1.7;
    /*line-height: 24px; */
}
/* END FEATURES */