/* FEATURES */
.features-section {
    padding-top: 94px;
    padding-bottom: 47px;
}

.features-icon-wrp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--spec-bg-color);
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
}