/* FOOTER */
.footer-bg-color {
    background-color: var(--footer-bg);
    padding: 60px 0;
}

/* FOOTER SOCIALS */
.footer-socials {
    display: flex;
    justify-content: space-between;
    width: 206px;
} 

.footer-socials-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--footer-soc-box-bg);
    @include custom-animation(background-color);
}

.footer-social-icon {
    fill: var(--base-accent-color);
}

.footer-socials-box:hover,
.footer-socials-box:focus {
    background-color: var(--spec-accent-color);
}
/* END FOOTER SOCIALS */

/* FOOTER SUBSCRIPTION */
.label-position {
    margin-bottom: 20px;

    @media screen and (min-width:1200px) {
        margin-right: 12px;
    }
}

.subscr-input-style {
    color: var(--base-accent-color);
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    height: 50px;
    width: 290px;
    filter: drop-shadow(0px 4px 4px var(--input-footer-text-style));
    border: 1px solid var(--footer-subsrc-input-border);
    background: transparent;
    border-radius: 4px;
    outline: none;
    padding-left: 16px;

    @media screen and (min-width:768px) {
        width: 450px;
    }
}

.subscr-input-style:focus {
    border: 1px solid var(--spec-accent-color);
}

.footer-subscr-icon {
    margin-left: 10px;
    fill: var(--base-accent-color);
}

.subscr-input-style::placeholder {
    display: flex;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    align-items: center;
    color: var(--footer-contact-text-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* END OF FOOTER SUBSCRIPTION */
/* END FOOTER */