/* HEADER */
.header-border {
    border-bottom: 1px solid;
    border-color: var(--header-border-bottom);
}

.header-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
}

.nav-menu,
.nav-contacts {
    display: flex;
}

.nav-contacts .header-contacts {
    display: flex;
    align-items: center;
}

.nav-link:not(:last-child) {
    margin-right: 50px;
}

.contact-item:not(:first-child)  {
    margin-left: 50px;
}

.nav-text,
.header-contacts {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    /*line-height: 16px;*/
    letter-spacing: 0.02em;
    padding: 32px 0;
}
.nav-text {
    color: var(--titles-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.active-line::after {
    display: block;
    position: absolute;
    content: " ";
    width: 100%;
    height: 4px;
    background-color: var(--spec-accent-color);
    border-radius: 2px;
    bottom: -2px;
}

.contact-item {
    display: flex;
    align-items: center;
}

.header-contacts {
    color: inherit;
    
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-icons {
    fill: var(--text-color);
    margin-right: 10px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts:hover .contacts-icons,
.header-contacts:focus .contacts-icons{
    fill: var(--spec-accent-color);
}
/* END HEADER */