/* HEADER */
.header-border {
    border-bottom: 1px solid;
    border-color: var(--header-border);
}

.header-position {
    @media screen and (min-width:1200px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header-nav {
    display: flex;
}

.nav-list,
.nav-contacts {
    @media screen and (max-width: 767.9px) {
        display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1199.9px) {

    }
}







// .nav-contacts .header-contacts {
//     display: flex;
//     align-items: center;
// }

// .nav-contacts {
//     @media screen and (min-width:768px) and (max-width: 1199.9) {
//         flex-direction: column;    
//     }

//     @media screen and (min-width:1200px) {
//         display: flex;
//         justify-content: center;
//         align-items: center;    
//     }
// }

// .nav-link .current {
//     color: var(--spec-accent-color);
//     position: relative;  
// }

// .nav-text,
// .header-contacts {
//     position: relative;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     /*line-height: 16px;*/
//     letter-spacing: 0.02em;
// }
// .nav-text {
//     color: var(--titles-color);
//     padding: 32px 0;

//     @include animation(color);
// }

.active-line::after {
    @media screen and (min-width:768px) and (min-width: 1200px){
        display: block;
        position: absolute;
        content: " ";
        width: 100%;
        height: 4px;
        background-color: var(--spec-accent-color);
        border-radius: 2px;
        bottom: -2px;
    }
}

// .contact-item {
//     display: flex;
//     align-items: center;
// }

// .header-contacts {
//     color: inherit;
    
//     @include animation(color);

//     &:not(:last-child) {
//         @media screen and (max-width:767.9px) {
//             padding-bottom: 10px;
//         }
//     }
// }

// .contacts-icons {
//     fill: var(--text-color);
//     margin-right: 10px;

//     @include animation(fill);
// }

// .header-contacts:hover .contacts-icons,
// .header-contacts:focus .contacts-icons{
//     fill: var(--spec-accent-color);
// }

// .nav-link:not(:last-child) {
//     margin-right: 50px;
// }

// .contact-item:not(:first-child)  {
//     @media screen and (min-width:1200px) {
//         margin-left: 50px;
//     }
// }
/* END HEADER */