/* HERO */
.hero-section {
    background-image:
        linear-gradient(
            0deg,
            var(--hero-bg-overlay),
            var(--hero-bg-overlay)
            ),
            url(../imgs/desk-cap/cap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
}

.hero-wrap {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /*line-height: 60px; */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--norm-accent-color);
    margin-bottom: 30px;
}
/* END HERO */