/* HERO */
.hero-section {
    background-image:
        linear-gradient(
            0deg,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../imgs/desk-cap/cap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
}

.hero-wrap {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @media screen and (min-width:1200px) {
        width: 550px;
    }
}

.hero-title {
    @include custom-text-style(26px, 900, 0.06em, 1.62);
    color: var(--base-accent-color);
    
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;

    @media screen and (min-width:1200px) {
        @include custom-text-style(44px, 900, 0.06em, 1.36);
    }
}
/* END HERO */