/* mob menu */
.mob-menu-nav-wrap {
    display: flex;
    justify-content: space-between;
}

.mob-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    background-color: var(--base-accent-color);

    transform: translateX(100%);
    @include custom-animation(transform);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
}

.mob-menu-container.is-open {
    transform: translateX(0);
}

.mob-menu-nav {
    display: flex;
    flex-direction: column;
}

.mob-menu-soc-list {
    display: flex;
    flex-direction: row;
}

.mob-menu-soc-item {
    margin-right: 10px;
    border-right: 2px solid var(--titles-base-color-transp);

    &:not(:first-child) {
        margin-left: 10px;
    }
}
/* END of mob menu */