/* MODAL WINDOW */
.modal-window-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-window-bg);
    z-index: 10;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
    background-color: var(--base-accent-color);

    @media screen and (min-width:1200px) {
        width: 528px;
        height: 581px;
    }
}

.animate__bounceIn {
    animation-iteration-count: 1;
    animation-duration: 1500ms;
}

.close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--base-accent-color);
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    border: 1px solid var(--shadows-three);
    border-radius: 50%;
    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
    fill: var(--spec-accent-color);
    border: 1px solid var(--spec-accent-color);
}
/* END MODAL WINDOW */