/* POSITIONING */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.filters-btn:not(:last-child) {
    margin-right: 8px;
}
/* END POSITIONING */

/* COMPONENTS */

/* HOVER FOCUS CURRENT */
.nav-link .current {
    color: var(--spec-accent-color);
    position: relative;  
}