/* OUR TEAM */
.section-box {
    background: var(--base-accent-color);
    box-shadow: 0px 1px 3px var(--shadows-four),
                0px 1px 1px var(--shadows-five),   
                0px 2px 1px var(--modal-window-bg);
    border-radius: 0px 0px 4px 4px;
}

.section-text-wrap {
    padding: 30px 0;
    text-align: center;
}

.our-team {
    background-color: var(--spec-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;

    }
}

.our-team-suptitle {
    @include custom-text-style(16px, 500, 0.03em, 1.19);
    color: var(--titles-base-color);

    margin-bottom: 10px;
}

.our-team-name {
    @include custom-text-style(16px, 400, 0.03em, 1.19);
}

.our-team-social-icons {
    display: inline-flex;
}

.our-team-social-icons .social-icon-item:not(:last-child) {
    padding-right: 10px;
}

.social-icons-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    @include custom-animation(background-color);
}

.social-icons-box:hover,
.social-icons-box:focus {
    background-color: var(--spec-accent-color);
}

.social-icons {
    fill: var(--icon-main-fill);
    @include custom-animation(fill);
}

.social-icons-box:hover .social-icons,
.social-icons-box:focus .social-icons {
    fill: var(--base-accent-color);
}
/* END OUR TEAM */