/* OUR TEAM */
.section-box {
    background: var(--norm-accent-color);
    box-shadow: 0px 1px 3px var(--m-window-color-one),
                0px 1px 1px var(--m-window-color-two),   
                0px 2px 1px var(--m-window-color-three);
    border-radius: 0px 0px 4px 4px;
}

.section-text-wrap {
    padding: 30px 0;
    text-align: center;
}

.our-team {
    background-color: var(--spec-bg-color);
}

.our-team-suptitle {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
   /* line-height: 19px; */
    color: var(--titles-color);
}

.our-team-name {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;
    /* line-height: 19px; */
}
/* END OUR TEAM */