/* TITLES TEXT STYLE */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    /*line-height: 42px; */
    text-align: center;
    color: var(--titles-color);

    margin-bottom: 50px;
}
/* END TITLES TEXT STYLE */