/* CUSTOM CHECKBOX AGREEMENT */
.checkbox-container {
    margin-bottom: 30px;
}

.user-agreement-label {
    padding-left: 14px;
}

.user-checkbox {
    appearance: none;
}

.custom-checkbox {
    position: relative;
    top: 3px;
    left: 3px;

    display: inline-block;
    width: 16px;
    height: 15px;
    border: 1px solid var(--titles-color);
    border-radius: 2px;
    cursor: pointer;
    margin-left: -14px;
    background-color: var(--norm-accent-color);

    &:hover,
    &:focus {
        border: 1px solid var(--spec-accent-color);
    }
}

.m-window-agreement-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-color);

    padding-left: 7px;
}

.agreement-link {
    color: var(--spec-accent-color);
    padding-left: 4px;
}

.user-checkbox:checked + .custom-checkbox {
    background-image: url(../sprite/m-window-icon-check.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}
/* END of CUSTOM CHECKBOX AGREEMENT */